{% extends "base.html" %}

{% block javascript %}
    <script>
        setInterval(function () {
            $.ajax({
                url: "/ajax/update_data/",
                success: function (data) {
                    if (data.alert == true) {
                        $('#alert').html('<h3>Nova ocorrência! <a href="/ocorrencia" class="waves-effect waves-light btn-large green accent-4"><i class="material-icons right">near_me</i><strong>ACEITAR</strong></a> <a href="reject_alert/" class="waves-effect waves-light btn red"><i class="material-icons right">clear</i><strong>Rejeitar</strong></a><br />') 
                    } else {
                        $('#alert').html('<h3>Nenhuma ocorrência no momento!</h3><br />')
                    }
                }
            });
        }, 1000);


//        setInterval(function () {
  //          navigator.geolocation.getCurrentPosition(function(location) {
    //            console.log('/get_officer_location/' + location.coords.latitude + '/' + location.coords.longitude + '/')

      //          window.location = '/get_officer_location/' + location.coords.latitude + '/' + location.coords.longitude + '/'
        //    });
       // }, 1000);

        $(document).ready(function () {
            setInterval(fetchdata, 5000);
        });
    </script>
{% endblock javascript %}

{% block alert %}
    {% if not admin %}
        <div id="alert">
            <h3>Nenhuma ocorrência no momento!</h3>
            <br />
        </div>

    

    {% endif %}
{% endblock alert %}