{% extends "base.html" %}

{% block javascript %}
    <script>
        setInterval(function () {
            $.ajax({
                url: "/ajax/update_data/",
                success: function (data) {
                    if (data.alert == true) {
                        $('#alert').html('<h3>Nova ocorrência! <a href="/occurrence">Aceitar</a> <a href="/">Rejeitar</a></h3><br />') 
                    } else {
                        $('#alert').html('<h3>Nenhuma ocorrência no momento!</h3><br />')
                    }
                }
            });
        }, 1000);

        $(document).ready(function () {
            setInterval(fetchdata, 5000);
        });
    </script>
{% endblock javascript %}

{% block alert %}
    {% if not admin %}
        <div id="alert">
            <h3>Nenhuma ocorrência no momento!</h3>
            <br />
        </div>
    {% endif %}
{% endblock alert %}