{% extends 'base_logged.html' %}

{% block logged_content %}
    <div class="page-title">
        <h2>Lista de ônibus cadastrados</h2>
        <br />
    </div>

    <div class="page-content">
        {% if buses %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Número da linha</th>
                    <th>Empresa</th>
                    <th>Placa</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
    
                {% for bus in buses %}
                    <tr>
                        <td>{{bus.id}}</td>
                        <td>{{bus.line_number}}</td>
                        <td>{{bus.company}}</td>
                        <td>{{bus.plate}}</td>
                        <td><a class="table-button" href="{% url 'edit_bus' pk=bus.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a class="table-button remove-button" href="{% url 'remove_bus' pk=bus.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Nenhum ônibus encontrado</p>
        {% endif %}
    
        <br />
        <p><a class="button" href="/cadastrar_onibus">Adicionar</a></p>
    </div>

{% endblock logged_content %}