{% extends 'base2.html' %}

{% block content %}

    <div class="row" style="margin-top: 30px;">
        <a href="http://127.0.0.1:8000/" class="waves-effect waves-light btn-small grey darken-4"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>

    <div class="page-title">
        <h2 style="text-align: center;">Lista de ônibus cadastrados</h2>
        <br />
    </div>

    <div class="page-content">
        {% if buses %}
            <table class="striped">
                <tr>
                    <th>Número da linha</th>
                    <th>Placa</th>
                    <th>Empresa</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
    
                {% for bus in buses %}
                    <tr>
                        <td>{{ bus.line_number }}</td>
                        <td><a href="{% url 'bus_detail' pk=bus.pk %}">{{ bus.plate }}</a></td>
                        <td>{{ bus.company }}</td>
                        <td><a class="table-button" href="{% url 'edit_bus' pk=bus.pk %}"><i class="material-icons" style="color: #1176ff;">edit</i></a></td>
                        <td><a class="table-button remove-button" href="{% url 'remove_bus' pk=bus.pk %}"><i class="material-icons" style="color: #ff2f2f;">remove_circle</i></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Nenhum ônibus encontrado</p>
        {% endif %}
    
        <br />
        <p><a class="btn-floating btn-medium waves-effect waves-light blue accent-3" href="/cadastrar_onibus"><i class="material-icons">add</i></a></p>
    </div>

{% endblock content %}