{% extends 'base.html' %}

{% block javascript %}
    <script>
        var button_previous_status = null;

        setInterval(function () {
            $.ajax({
                url: "/ajax/update_data/",
                success: function (data) {
                    if (data.button_status == true && button_previous_status == false) {
                        alert('Nova ocorrência!');
                    }

                    button_previous_status = data.button_status;
                }
            });
        }, 1000);

        $(document).ready(function () {
            setInterval(fetchdata, 5000);
        });

    </script>
{% endblock javascript %}

{% block content %}
    <div class="options">
        <h2><a href="/lista_ocorrencias">Histórico de ocorrências</a></h2>
        {% if permission %}
            <h2><a href="/lista_onibus">Lista de ônibus cadastrados</a><br /></h2>
        {% endif %}
    </div>
{% endblock content %}