{% extends 'base2.html' %}

{% block javascript %}
    <script>
        setInterval(function () {
            $.ajax({
                url: "/ajax/update_data/",
                success: function (data) {
                    $('#lat').hide().html(data.latitude).fadeIn('slow')
                    $('#long').hide().html(data.longitude).fadeIn('slow')
                }
            });
        }, 1000);

        $(document).ready(function () {
            setInterval(fetchdata, 5000);
        });

    </script>
{% endblock javascript %}

{% block alert %}
{% endblock alert %}

{% block content %}
    <div class="page-title">
        <h2>Localização</h2>
        <br />
    </div>

    <div class="page-content" id="detail">
        <h3>Latitude: <span id="lat">{{ latitude }}</span></h3>
        <h3>Longitude: <span id="long">{{ longitude }}</span></h3>
    </div>
{% endblock content %}
