{% extends 'base2.html' %}

{% block javascript %}
    <script>
        var previous_latitude = null;
        var previous_longitude = null;

        setInterval(function () {
            $.ajax({
                url: "/ajax/update_location/",
                success: function (data) {
                    if (data.admin) {
                        $('#detail').hide().html('<h2>Página disponível apenas para policiais</h2>').show()
                    } else {
                        if ((data.latitude != previous_latitude) || (data.longitude != previous_longitude)) {
                            $('#lat').hide().html(data.latitude).fadeIn('slow')
                            $('#long').hide().html(data.longitude).fadeIn('slow')
                        }

                        previous_latitude = data.latitude;
                        previous_longitude = data.longitude;
                    }
                }
            });
        }, 1000);

        $(document).ready(function () {
            setInterval(fetchdata, 5000);
        });

    </script>
{% endblock javascript %}

{% block alert %}
{% endblock alert %}

{% block content %}
    <div class="page-title">
        <h2>Ocorrência</h2>
        <br />
    </div>

    <div class="page-content" id="detail">
        <h3>Ônibus</h3>
        <h4><strong>Número da linha: </strong>{{ bus.line_number }}</h4>
        <h4><strong>Empresa: </strong>{{ bus.company }}</ph4>
        <h4><strong>Placa: </strong>{{ bus.plate }}</h4>
        <br />

        <h3>Localização:</h3>
        <h4>Latitude: <span id="lat">{{ latitude }}</span></h4>
        <h4>Longitude: <span id="long">{{ longitude }}</span></h4>

        <a href="/salvar_ocorrencia/">Encerrar</a>
    </div>
{% endblock content %}
