{% extends 'base2.html' %}

{% block content %}
    <div class="row" style="margin-top: 30px;">
        <a href="http://127.0.0.1:8000/" class="waves-effect waves-light btn-small grey darken-4"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>

    <div class="page-title">
        <h2 style="text-align: center;">Histórico de ocorrências</h2>
        <br />
    </div>

    <div class="page-content">
        {% if occurrences %}
            <table class="striped responsive-table">
                <tr>
                    <th>Data</th>
                    <th>Ônibus</th>
                    <th>Horário do alerta</th>
                    <th>Localização</th>
                    <th>Respondido</th>
                    <th>Horário da resposta</th>
                    <th>Respondente</th>
                    <th>Horário da conclusão</th>
                    <th>Sucesso</th>
                    <th class="hide-on-small-and-down">Anotações</th>
                </tr>

                {% for occurrence in occurrences %}
                    <tr>
                        <td>{{ occurrence.date }}</td>
                        <td><a href="{% url 'bus_detail' pk=occurrence.bus.pk %}">{{ occurrence.bus.line_number }} - {{ occurrence.bus.plate }}</a></td>
                        <td>{{ occurrence.alert_time }}</td>
                        <td>lat: {{ occurrence.latitude }} <br />long: {{ occurrence.longitude }}</td>
                        {% if occurrence.responded %}
                                <td><i class="material-icons" style="color: #00cb37;">check</i></td>
                            {% else %}
                                <td><i class="material-icons" style="color: #ff272e;">clear</i></td>
                            {% endif %}
                        {% if occurrence.responded %}
                            <td>{{ occurrence.response_time }}</td>
                            <td>{{ occurrence.responder.username }}</td>
                            <td>{{ occurrence.finish_time }}</td>
                            {% if occurrence.successfull %}
                                <td>Sim</td>
                            {% else %}
                                <td>Não</td>
                            {% endif %}
                        <td class="hide-on-small-and-down"><p style="max-width: 200px;">{{ occurrence.notes }}</p></td>
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Nenhuma ocorrência encontrada</p>
        {% endif %}
    </div>

{% endblock content %}