{% extends 'base2.html' %}

{% block javascript %}
    <script>
        var previous_latitude = null;
        var previous_longitude = null;

        setInterval(function () {
            $.ajax({
                url: "/ajax/update_location/",
                success: function (data) {
                    if (data.admin) {
                        $('#detail').hide().html('<h2>Página disponível apenas para policiais</h2>').show()
                    } else {
                        if ((data.latitude != previous_latitude) || (data.longitude != previous_longitude)) {
                            $('#lat').hide().html(data.latitude).fadeIn('slow')
                            $('#long').hide().html(data.longitude).fadeIn('slow')
                        }

                        previous_latitude = data.latitude;
                        previous_longitude = data.longitude;
                    }
                }
            });
        }, 1000);

        $(document).ready(function () {
            setInterval(fetchdata, 5000);
        });

    </script>
{% endblock javascript %}

{% block alert %}
{% endblock alert %}

{% block content %}
    <div class="page-title center">
        <h2>Ocorrência</h2>
        <br />
        
    </div>

    <div class="page-content" id="detail">
        <div class="row center" style="margin-top: 30px;">
            <div class="col s12 m6">
                <h3>Ônibus</h3>
                <h5><strong>Número da linha: </strong>{{ bus.line_number }}</h5>
                <h5><strong>Empresa: </strong>{{ bus.company }}</h5>
                <h5><strong>Placa: </strong>{{ bus.plate }}</h5>
                <br />
            </div>

            <div class="col s12 m6">
                <h3>Localização:</h3>
                <h5>Latitude: <span id="lat">{{ latitude }}</span></h5>
                <h5>Longitude: <span id="long">{{ longitude }}</span></h5>
            </div>
            
        </div>
        
        <div class="center" style="margin: 30px 0;">
            <a href="http://127.0.0.1:8000/salvar_ocorrencia/" class="waves-effect waves-light btn-large grey darken-4"><i class="material-icons left">clear</i>Encerrar</a>
        </div>
        
        

    </div>
{% endblock content %}
