{% extends "base2.html" %}

{% block javascript %}
{% endblock javascript %}

{% block alert %}
{% endblock alert %}

{% block content %}
    <script>
        
    </script>

    <div class="page-title">
        <h2>Occorrência</h2>
        <br />
    </div>

    <div class="page-content">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button class="btn waves-effect waves-light blue accent-3" type="submit">Salvar
            <i class="material-icons right">check</i>
          </button>
        </form>
    </div>
{% endblock content %}